## Top 10 movies
or something i couldn't remember what the task was so..

#### TODO:
 - read data
 - filter data
 - that was simple enough

In [5]:
import pandas as pd

In [8]:
#Read csv file into a dataframe
df = pd.read_csv("movies.csv")

,budget,revenue,original_title,cast,director,runtime,genres,release_date,release_year
0,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,124,Action|Adventure|Science Fiction|Thriller,6/9/15,2015
1,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,120,Action|Adventure|Science Fiction|Thriller,5/13/15,2015
2,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,119,Adventure|Science Fiction|Thriller,3/18/15,2015
3,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,136,Action|Adventure|Science Fiction|Fantasy,12/15/15,2015
4,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,137,Action|Crime|Thriller,4/1/15,2015
...,...,...,...,...,...,...,...,...,...
196,0,0,Madame Bovary,Mia Wasikowska|Ezra Miller|Laura Carmichael|He...,Sophie Barthes,118,Drama,6/4/15,2015
197,0,0,The Hallow,Joseph Mawle|Bojana NovakoviÄ‡|Michael McElhat...,Corin Hardy,97,Fantasy|Horror,11/6/15,2015
198,0,0,Barbie in Princess Power,Britt Irvin|Michael Kopsa|Kelly Sheridan,Zeke Norton,74,Family|Animation,1/29/15,2015
199,0,0,Howl,Ed Speleers|Shauna Macdonald|Elliot Cowan|Holl...,Paul Hyett,89,Horror,10/1/15,2015
200,7000000,573335,Freeheld,Julianne Moore|Ellen Page|Steve Carell|Michael...,Peter Sollett,103,Romance|Drama,10/2/15,2015

In [13]:
df.sort_values(by=['runtime'], inplace=True, ascending=False)
topTenRunTime = df[:10]
topTenRunTime

,budget,revenue,original_title,cast,director,runtime,genres,release_date,release_year
15,44000000,155760117,The Hateful Eight,Samuel L. Jackson|Kurt Russell|Jennifer Jason ...,Quentin Tarantino,167,Crime|Drama|Mystery|Western,12/25/15,2015
5,135000000,532950503,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,156,Western|Drama|Adventure|Thriller,12/25/15,2015
10,245000000,880674609,Spectre,Daniel Craig|Christoph Waltz|LÃ©a Seydoux|Ralp...,Sam Mendes,148,Action|Adventure|Crime,10/26/15,2015
40,28000000,201634991,Straight Outta Compton,O'Shea Jackson Jr.|Corey Hawkins|Jason Mitchel...,F. Gary Gray,147,Drama|Music,8/13/15,2015
14,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,141,Action|Adventure|Science Fiction,4/22/15,2015
33,40000000,162610473,Bridge of Spies,Tom Hanks|Mark Rylance|Amy Ryan|Alan Alda|Seba...,Steven Spielberg,141,Thriller|Drama,10/15/15,2015
7,108000000,595380321,The Martian,Matt Damon|Jessica Chastain|Kristen Wiig|Jeff ...,Ridley Scott,141,Drama|Adventure|Science Fiction,9/30/15,2015
89,50000000,3324330,Child 44,Tom Hardy|Gary Oldman|Noomi Rapace|Joel Kinnam...,Daniel Espinosa,137,Crime|Thriller,3/15/15,2015
4,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,137,Action|Crime|Thriller,4/1/15,2015
19,160000000,650523427,The Hunger Games: Mockingjay - Part 2,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,Francis Lawrence,136,War|Adventure|Science Fiction,11/18/15,2015