## My pre-midterm project for the NN course 
I am definitely not pushing this code to Github until the project is submitted.
sorry to disappoint you, cheating piece of shit.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data1.csv')
df.head()

   Number of times pregnant   Age  Class
0                         6    50      1
1                         1    31      0
2                         8    32      1
3                         1    21      0
4                         0    33      1