In [23]:
import pandas as pd

In [24]:
df = pd.read_csv('premierleague.csv')
df = df[['Home Team', 'Away Team', 'Winner']]
df

           Home Team    Away Team Winner
0            MAN UTD      SWANSEA   Away
1          WEST BROM   SUNDERLAND   Draw
2     LEICESTER CITY      EVERTON   Draw
3           WEST HAM    TOTTENHAM   Away
4                QPR    HULL CITY   Away
...              ...          ...    ...
2655         ARSENAL     BRIGHTON   Home
2656   SHEFFIELD UTD      BURNLEY   Home
2657  LEICESTER CITY    TOTTENHAM   Away
2658        WEST HAM  SOUTHAMPTON   Home
2659       LEEDS UTD    WEST BROM   Home

[2660 rows x 3 columns]

In [25]:
df.describe()

       Home Team Away Team Winner
count       2660      2660   2660
unique        31        31      3
top      MAN UTD   ARSENAL   Home
freq         133       133   1186